html
  head
    title= "METAR Scraper"
    style(type='text/css').
      table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
      }
  body 
    h1= "METAR Scraper"
    table
      thead
        tr
          th= "ICAO"
          th= "Flight Category"
          th= "Observation Time"
          th= "Raw METAR"
      tbody
        each val, icao in retrievedData
          tr
            td= icao
            td= val.flightCategory || '<NO DATA AVAILABLE>'
            if val.observationTime
              td= val.observationTime.toFormat('MMMM dd, t') + " (" + val.age + " minutes old)"
            else 
              td= '<NO DATA AVAILABLE>'
            td= val.raw || '<NO DATA AVAILABLE>'